<div>
    <div class="row justify-content-around">
        <div class="col-8">
            <h2 [ngClass]="{redFont:activeRed}" (click)="cangeFont()" appBold [itIsTitle]=true *ngIf="showNews">News:</h2>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn float-right" (click)="showHideNews()">{{showNews ? 'Hide news' : 'Show news'}}</button>
            </div>
        </div>
    </div>
    <p *ngIf="showNews">We have already [{{workers.length}}] workers!</p>
</div>
